

<header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
          
          <img src="/static/img/WorkNav.svg" alt="Your Logo" width="50" height="50">

        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/about" class="nav-link px-2 link-secondary">About</a></li>
          <li><a href="#" class="nav-link px-2 link-body-emphasis">Spaces</a></li>
          <li><a href="{{ url_for('see_reviews') }}" class="nav-link px-2 link-body-emphasis">Community</a></li>
          <li><a href="#" class="nav-link px-2 link-body-emphasis">Contact</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <div class="d-grid gap-2 d-md-block">
            <a href="/login2" button type="submit"  class="btn btn-outline-secondary">Login</a>
            <a href="/add-space" button type="submit"  class="btn btn-outline-secondary" >Add Space</a>
          </div>
          
        </form>

        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/qween-beth/qween-beth/blob/main/Happy%20International%20Women's%20Day.png?raw=true" alt="profilepic" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" href="/account">Profile</a></li>
            <li><a class="dropdown-item" href="/dashboard">Dashboard</a></li>
            <li><a class="dropdown-item" href="/analytics">Analytics</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/logout">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>



   

